#header {
  height: 48px;
  width: 100%;
  background: #404040;
  color: #fff; }
  #header .content {
    line-height: 48px; }
    #header .content a {
      color: #fff; }
    #header .content img {
      display: block; }
    #header .content .tel {
      margin-left: 80px; }
      #header .content .tel img {
        width: 26px;
        margin-top: 10px; }
    #header .content .mail {
      margin-left: 80px; }
      #header .content .mail img {
        width: 28px;
        margin-top: 15px; }
    #header .content .loginAndRegister img {
      margin-top: 16px; }

#footer {
  height: 266px;
  width: 100%;
  background: #404040;
  color: #fff; }
  #footer .content ul {
    padding: 40px 0 0 130px; }
    #footer .content ul li {
      float: left;
      margin-left: 110px; }
      #footer .content ul li a {
        color: #fff;
        font-size: 18px; }
    #footer .content ul li:first-child {
      margin-left: 0; }
  #footer .content .content_bottom {
    padding: 0 0 0 130px; }
    #footer .content .content_bottom .content_bottom_l {
      margin-top: 50px; }
      #footer .content .content_bottom .content_bottom_l h5 {
        font-size: 20px; }
      #footer .content .content_bottom .content_bottom_l span {
        display: block;
        margin-top: 30px;
        font-size: 16px; }
    #footer .content .content_bottom .content_bottom_c {
      margin-top: 50px;
      margin-right: 80px; }
      #footer .content .content_bottom .content_bottom_c h5 {
        font-size: 20px; }
      #footer .content .content_bottom .content_bottom_c span {
        display: block;
        margin-top: 30px;
        font-size: 16px; }
      #footer .content .content_bottom .content_bottom_c i {
        display: block;
        font-size: 16px; }
    #footer .content .content_bottom img {
      display: block;
      margin: 25px 60px 0 0; }

#register .content {
  padding: 100px 0 150px 0; }
  #register .content .content_logo {
    margin-top: 300px; }
    #register .content .content_logo img {
      display: block;
      width: 110px; }
    #register .content .content_logo .content_logo_title {
      margin-left: 30px;
      color: #333; }
      #register .content .content_logo .content_logo_title span {
        font-size: 42px;
        font-weight: 300;
        line-height: 110px; }
      #register .content .content_logo .content_logo_title i {
        font-size: 24px;
        line-height: 110px;
        font-weight: 300; }
  #register .content .content_input {
    width: 437px;
    height: 622px;
    -moz-box-shadow: 0 0 15px #e7e7e7;
    -webkit-box-shadow: 0 0 15px #e7e7e7;
    box-shadow: 0 0 15px #e7e7e7;
    padding: 45px; }
    #register .content .content_input h6 {
      font-size: 24px;
      color: #fb6d01;
      text-align: center; }
    #register .content .content_input em {
      display: block;
      height: 2px;
      width: 100%;
      background: #fb6d01;
      position: relative; }
      #register .content .content_input em img {
        position: absolute;
        left: 47%;
        top: -15px; }
    #register .content .content_input .content_input_list {
      margin-top: 25px; }
      #register .content .content_input .content_input_list .content_input_list_li {
        margin: 20px 15px 0 15px;
        padding: 22px 0;
        border-bottom: 1px solid #dadada;
        position: relative; }
        #register .content .content_input .content_input_list .content_input_list_li .form-control {
          width: 100%;
          border: none;
          outline: none !important;
          box-shadow: none; }
        #register .content .content_input .content_input_list .content_input_list_li .btn {
          border: none;
          position: relative;
          margin-right: 15px;
          font-size: 16px;
          font-weight: 600; }
          #register .content .content_input .content_input_list .content_input_list_li .btn .caret {
            border: none;
            display: block;
            background: url("../img/pulldown.png") no-repeat center;
            background-size: 16px 9px;
            width: 16px;
            height: 15px;
            position: absolute;
            right: -10px;
            top: 10px; }
        #register .content .content_input .content_input_list .content_input_list_li img {
          display: block;
          position: absolute;
          right: 0;
          top: 15px; }
        #register .content .content_input .content_input_list .content_input_list_li .getCode {
          display: block;
          width: 98px;
          height: 38px;
          border: 1px solid #fb6d01;
          color: #fb6d01;
          background: #fff;
          position: absolute;
          right: 0;
          top: 15px; }
      #register .content .content_input .content_input_list .btn_register {
        display: block;
        margin-left: 15px;
        width: 407px;
        background: #fb6d01;
        border: none;
        color: #fff;
        line-height: 56px;
        font-size: 22px;
        margin-top: 40px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px; }
  #register .content .login_content h6 {
    width: 50%; }

/*# sourceMappingURL=index.css.map */
