@charset "UTF-8";
#header {
  height: 48px;
  width: 100%;
  background: #404040;
  color: #fff; }
  #header .content {
    line-height: 48px; }
    #header .content a {
      color: #fff; }
    #header .content img {
      display: block; }
    #header .content .tel {
      margin-left: 80px; }
      #header .content .tel img {
        width: 26px;
        margin-top: 10px; }
    #header .content .mail {
      margin-left: 80px; }
      #header .content .mail img {
        width: 28px;
        margin-top: 15px; }
    #header .content .loginAndRegister img {
      margin-top: 16px; }

/*
    * 页数按钮样式
    */
.page_div {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 15px;
  font-family: "microsoft yahei";
  color: #666666;
  margin-right: 10px;
  box-sizing: border-box;
  text-align: center; }

.page_div a {
  min-width: 30px;
  height: 28px;
  border: 1px solid #dce0e0 !important;
  text-align: center;
  margin: 0 4px;
  cursor: pointer;
  line-height: 28px;
  color: #666666;
  font-size: 13px;
  display: inline-block;
  background: #dadada; }

#firstPage,
#lastPage {
  width: 50px;
  color: #0073A9;
  border: 1px solid #0073A9 !important; }

#prePage,
#nextPage {
  width: 30px;
  color: #a3a3a3;
  border: 1px solid #dadada !important;
  background: #f2f2f2; }

.page_div .current {
  background-color: #5c636e;
  color: #FFFFFF; }

.totalPages {
  margin: 0 10px; }

.totalPages span,
.totalSize span {
  color: #0073A9;
  margin: 0 5px; }

#footer {
  height: 266px;
  width: 100%;
  background: #404040;
  color: #fff; }
  #footer .content ul {
    padding: 40px 0 0 130px; }
    #footer .content ul li {
      float: left;
      margin-left: 110px; }
      #footer .content ul li a {
        color: #fff;
        font-size: 18px; }
    #footer .content ul li:first-child {
      margin-left: 0; }
  #footer .content .content_bottom {
    padding: 0 0 0 130px; }
    #footer .content .content_bottom .content_bottom_l {
      margin-top: 50px; }
      #footer .content .content_bottom .content_bottom_l h5 {
        font-size: 20px; }
      #footer .content .content_bottom .content_bottom_l span {
        display: block;
        margin-top: 30px;
        font-size: 16px; }
    #footer .content .content_bottom .content_bottom_c {
      margin-top: 50px;
      margin-right: 80px; }
      #footer .content .content_bottom .content_bottom_c h5 {
        font-size: 20px; }
      #footer .content .content_bottom .content_bottom_c span {
        display: block;
        margin-top: 30px;
        font-size: 16px; }
      #footer .content .content_bottom .content_bottom_c i {
        display: block;
        font-size: 16px; }
    #footer .content .content_bottom img {
      display: block;
      margin: 25px 60px 0 0; }

.title_nav {
  padding: 35px 0; }
  .title_nav .title_nav_l img {
    width: 47px; }
  .title_nav .title_nav_l .title_nav_text span {
    font-size: 28px;
    font-weight: 300;
    line-height: 46px; }
  .title_nav .title_nav_l .title_nav_text i {
    font-size: 18px;
    line-height: 46px;
    font-weight: 300; }
  .title_nav .title_nav_r {
    font-size: 15px;
    line-height: 50px; }
    .title_nav .title_nav_r li {
      float: left;
      margin-right: 45px;
      cursor: pointer; }
      .title_nav .title_nav_r li a {
        font-weight: 600;
        color: #666666; }
    .title_nav .title_nav_r .active a {
      color: #f96d00; }

.title_line {
  width: 100%;
  height: 2px;
  background: #393e46; }

.title_border {
  border-bottom: 2px solid #dadada;
  position: relative; }
  .title_border p {
    font-size: 22px;
    line-height: 62px;
    color: #333; }
  .title_border a {
    line-height: 62px;
    color: #666666;
    font-size: 14px; }
  .title_border img {
    position: absolute;
    bottom: -2px;
    left: 0; }

#register .content {
  padding: 100px 0 150px 0; }
  #register .content .content_logo {
    margin-top: 300px; }
    #register .content .content_logo img {
      display: block;
      width: 110px; }
    #register .content .content_logo .content_logo_title {
      margin-left: 30px;
      color: #333; }
      #register .content .content_logo .content_logo_title span {
        font-size: 42px;
        font-weight: 300;
        line-height: 110px; }
      #register .content .content_logo .content_logo_title i {
        font-size: 24px;
        line-height: 110px;
        font-weight: 300; }
  #register .content .content_input {
    width: 437px;
    height: 622px;
    -moz-box-shadow: 0 0 15px #e7e7e7;
    -webkit-box-shadow: 0 0 15px #e7e7e7;
    box-shadow: 0 0 15px #e7e7e7;
    padding: 45px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; }
    #register .content .content_input h6 {
      font-size: 24px;
      color: #fb6d01;
      text-align: center;
      cursor: pointer; }
    #register .content .content_input em {
      display: block;
      height: 2px;
      width: 100%;
      background: #fb6d01;
      position: relative; }
      #register .content .content_input em img {
        position: absolute;
        left: 47.5%;
        top: -15px; }
    #register .content .content_input .content_input_list {
      margin-top: 25px; }
      #register .content .content_input .content_input_list .content_input_list_li {
        margin: 20px 15px 0 15px;
        padding: 22px 0;
        border-bottom: 1px solid #dadada;
        position: relative; }
        #register .content .content_input .content_input_list .content_input_list_li .form-control {
          width: 100%;
          border: none;
          outline: none !important;
          box-shadow: none; }
        #register .content .content_input .content_input_list .content_input_list_li .btn {
          border: none;
          position: relative;
          margin-right: 15px;
          font-size: 16px;
          font-weight: 600; }
          #register .content .content_input .content_input_list .content_input_list_li .btn .caret {
            border: none;
            display: block;
            background: url("../img/pulldown.png") no-repeat center;
            background-size: 16px 9px;
            width: 16px;
            height: 15px;
            position: absolute;
            right: -10px;
            top: 10px; }
        #register .content .content_input .content_input_list .content_input_list_li img {
          display: block;
          position: absolute;
          right: 0;
          top: 15px; }
        #register .content .content_input .content_input_list .content_input_list_li .getCode {
          display: block;
          width: 98px;
          height: 38px;
          border: 1px solid #fb6d01;
          color: #fb6d01;
          background: #fff;
          position: absolute;
          right: 0;
          top: 15px; }
      #register .content .content_input .content_input_list .btn_register {
        display: block;
        margin-left: 15px;
        width: 407px;
        background: #fb6d01;
        border: none;
        color: #fff;
        line-height: 56px;
        font-size: 22px;
        margin-top: 40px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px; }
  #register .content .login_content h6 {
    width: 50%;
    color: #333333; }
  #register .content .login_content .line {
    display: block;
    height: 2px;
    width: 100%;
    background: #dadada;
    position: relative; }
    #register .content .login_content .line img {
      position: absolute;
      left: 0px;
      top: -15px; }
  #register .content .login_content .active {
    color: #fb6d01; }
  #register .content .login_content .line_active {
    display: block;
    height: 2px;
    width: 100%;
    background: #dadada;
    position: relative; }
    #register .content .login_content .line_active img {
      position: absolute;
      right: 0px;
      top: -15px; }
  #register .content .login_content .content_input_list .btn_register {
    margin-top: 120px; }
  #register .content .login_content .content_input_list .forget {
    margin-left: 15px;
    width: 407px;
    font-size: 15px;
    font-weight: 500; }
    #register .content .login_content .content_input_list .forget .forget_l {
      color: #fb6d01;
      border: none;
      background: #fff;
      display: block; }
    #register .content .login_content .content_input_list .forget .forget_r {
      color: #999999; }
  #register .content .login_content .content_input_list .line_else {
    display: block;
    height: 1px;
    margin-left: 15px;
    margin-top: 45px;
    width: 407px;
    background: #999999;
    color: #999;
    position: relative; }
    #register .content .login_content .content_input_list .line_else span {
      position: absolute;
      text-align: center;
      left: 25%;
      top: -10px;
      width: 200px;
      background: #fff;
      font-size: 16px; }
  #register .content .login_content .content_input_list .else_logo {
    margin-top: 40px;
    padding: 0 30px; }
    #register .content .login_content .content_input_list .else_logo .else_logo_c {
      margin: 0 99px; }
  #register .content .login_content .login_content_input_list .btn_register {
    margin-top: 21px; }

#home_page .banner_wrap {
  height: 600px;
  min-width: 1200px;
  background: url("../img/banner.png") no-repeat top;
  background-size: cover;
  padding-top: 145px;
  color: #fff; }
  #home_page .banner_wrap .banner {
    position: relative;
    text-align: right; }
    #home_page .banner_wrap .banner .banner_text {
      position: absolute;
      right: 0; }
      #home_page .banner_wrap .banner .banner_text h1 {
        font-size: 84px;
        font-family: 'Sing YiEG Ultra GB';
        font-weight: 800; }
      #home_page .banner_wrap .banner .banner_text .banner_text_p {
        font-size: 22px;
        font-family: 'BodoniBT Bold';
        font-weight: 600; }
      #home_page .banner_wrap .banner .banner_text .banner_case {
        margin-top: 75px;
        height: 60px;
        display: block;
        width: 410px;
        border: 2px solid #fff;
        border-radius: 10px;
        position: relative; }
        #home_page .banner_wrap .banner .banner_text .banner_case .banner_case_sky {
          font-size: 41px;
          line-height: 60px;
          position: absolute;
          left: 30px; }
        #home_page .banner_wrap .banner .banner_text .banner_case .banner_case_white {
          font-size: 26px;
          color: #f96d00;
          display: block;
          width: 195px;
          height: 60px;
          position: absolute;
          right: 0;
          background: #fff;
          border-radius: 7px;
          line-height: 60px;
          text-align: center; }
      #home_page .banner_wrap .banner .banner_text .banner_text_p2 {
        font-size: 22px; }
        #home_page .banner_wrap .banner .banner_text .banner_text_p2 span {
          color: #f96d00; }
#home_page .skill_wrap {
  padding-top: 70px;
  color: #333333; }
  #home_page .skill_wrap h2 {
    text-align: center;
    font-size: 30px; }
  #home_page .skill_wrap .skill_tabs_tag {
    margin-top: 48px;
    background: url("../img/dian.png") repeat-x bottom; }
    #home_page .skill_wrap .skill_tabs_tag li {
      float: left;
      font-size: 16px;
      color: #999999;
      line-height: 45px;
      padding: 0 10px;
      cursor: pointer;
      margin-right: 39px; }
    #home_page .skill_wrap .skill_tabs_tag .active {
      background: url("../img/dian2.png") repeat-x top;
      border-right: 1px solid #dadada;
      border-left: 1px solid #dadada;
      border-bottom: 1px solid #fff;
      color: #333333; }
  #home_page .skill_wrap .skill_tabs_guide {
    margin-top: 45px; }
    #home_page .skill_wrap .skill_tabs_guide li {
      float: left;
      margin-right: 29px; }
      #home_page .skill_wrap .skill_tabs_guide li img {
        width: 278px;
        height: 278px;
        display: block; }
    #home_page .skill_wrap .skill_tabs_guide li:last-child {
      margin-right: 0; }
#home_page .view_more {
  margin-top: 70px;
  height: 600px;
  min-width: 1200px;
  background: url("../img/view_more.png") no-repeat top; }
  #home_page .view_more .view_more_pos {
    position: relative;
    height: 600px; }
    #home_page .view_more .view_more_pos button {
      border: none;
      background: #ffbc65;
      width: 285px;
      line-height: 48px;
      font-size: 22px;
      color: #fff;
      display: block;
      border-radius: 48px;
      -moz-border-radius: 48px;
      /* Old Firefox */
      position: absolute;
      right: 220px;
      bottom: 70px;
      box-shadow: 0px 7px 15px #c7c5c1; }
#home_page .advantage {
  padding-top: 70px;
  color: #333333; }
  #home_page .advantage h2 {
    text-align: center;
    font-size: 30px; }
  #home_page .advantage .advantage_subhead {
    margin-top: 25px;
    font-size: 20px;
    color: #666;
    text-align: center; }
  #home_page .advantage ul {
    margin-top: 10px; }
    #home_page .advantage ul li {
      margin-top: 30px;
      margin-right: 30px;
      float: left;
      position: relative; }
      #home_page .advantage ul li img {
        width: 380px;
        height: 275px; }
      #home_page .advantage ul li .opc_wrap {
        position: absolute;
        left: 70px;
        top: 110px;
        height: 48px;
        width: 240px;
        opacity: .5;
        background: #000; }
      #home_page .advantage ul li span {
        position: absolute;
        left: 70px;
        top: 110px;
        width: 240px;
        line-height: 48px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    #home_page .advantage ul li:nth-child(3n+3) {
      margin-right: 0; }
#home_page .pocket {
  margin-top: 60px; }
  #home_page .pocket h2 {
    text-align: center;
    font-size: 30px; }
  #home_page .pocket .pocket_subhead {
    margin-top: 25px;
    font-size: 20px;
    color: #666;
    text-align: center; }
  #home_page .pocket .pocket_content {
    margin-top: 35px; }
    #home_page .pocket .pocket_content .pocket_content_l {
      width: 545px;
      height: 370px; }
  #home_page .pocket .pocket_content_r {
    position: relative; }
    #home_page .pocket .pocket_content_r ul {
      margin-left: 105px; }
      #home_page .pocket .pocket_content_r ul li {
        margin-top: 35px; }
        #home_page .pocket .pocket_content_r ul li .pocket_content_r_img {
          margin-left: 7px; }
        #home_page .pocket .pocket_content_r ul li .pocket_content_r_img1 {
          width: 58px;
          height: 45px;
          margin-right: 20px; }
        #home_page .pocket .pocket_content_r ul li .pocket_content_r_img2 {
          width: 42px;
          height: 50px;
          margin-right: 20px; }
        #home_page .pocket .pocket_content_r ul li .pocket_content_r_img3 {
          width: 45px;
          height: 50px;
          margin-right: 20px; }
        #home_page .pocket .pocket_content_r ul li h5 {
          font-size: 20px;
          color: #333333; }
        #home_page .pocket .pocket_content_r ul li p {
          color: #666;
          font-size: 18px; }
    #home_page .pocket .pocket_content_r button {
      border: none;
      background: #ffbc65;
      width: 285px;
      line-height: 48px;
      font-size: 22px;
      color: #fff;
      display: block;
      border-radius: 48px;
      -moz-border-radius: 48px;
      position: absolute;
      right: 35px;
      bottom: -100px;
      box-shadow: 0px 7px 15px #c7c5c1; }

#elite_page .elite_search .elite_search_title {
  font-size: 18px;
  line-height: 75px;
  color: #333333; }
#elite_page .elite_search .elite_search_input ul li {
  float: left;
  margin-right: 10px; }
  #elite_page .elite_search .elite_search_input ul li .form-control {
    width: 168px; }
#elite_page .elite_search .elite_search_input ul button {
  width: 80px;
  height: 34px;
  border: none;
  background: #5c636e;
  color: #fff;
  border-radius: 3px; }
#elite_page .elite_nav {
  margin-top: 30px; }
  #elite_page .elite_nav ul {
    line-height: 60px;
    font-size: 18px;
    color: #999;
    background: #f2f2f2; }
    #elite_page .elite_nav ul li {
      cursor: pointer;
      padding: 0 60px;
      float: left; }
    #elite_page .elite_nav ul .active {
      background: #f96d00;
      color: #fff; }
#elite_page .elite_list {
  margin-top: 20px; }
  #elite_page .elite_list ul li {
    width: 278px;
    border: 1px solid #dadada;
    height: 393px;
    overflow: hidden;
    background-size: 100%;
    position: relative;
    float: left;
    margin-right: 25px;
    margin-top: 20px; }
    #elite_page .elite_list ul li .elite_list_person {
      display: block;
      margin: 0 auto;
      box-shadow: 0 0 5px; }
    #elite_page .elite_list ul li .elite_list_shade {
      position: absolute;
      bottom: 0; }
    #elite_page .elite_list ul li .elite_list_synopsis {
      position: absolute;
      bottom: -10px;
      left: 58px;
      color: #fff;
      width: 170px;
      height: 107px;
      font-size: 14px;
      line-height: 28px; }

#intro_page .intro_page_banner {
  background: url("../img/banner2.png") no-repeat 100%;
  height: 480px; }
  #intro_page .intro_page_banner .intro_teacher {
    position: relative; }
    #intro_page .intro_page_banner .intro_teacher .elite_search_title {
      font-size: 14px;
      line-height: 75px;
      color: #666; }
    #intro_page .intro_page_banner .intro_teacher .intro_teacher_card {
      position: absolute;
      top: 125px;
      left: 0;
      width: 100%;
      height: 520px;
      background: #fff url("../img/vigour.png") no-repeat left;
      background-size: 100%;
      box-shadow: 0 0 15px #ddd; }
      #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_person {
        position: absolute;
        top: -84px;
        left: 30px; }
      #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form {
        width: 630px;
        float: right;
        margin-top: 50px; }
        #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_text {
          font-size: 14px;
          color: #333;
          width: 260px;
          display: block; }
        #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_title {
          font-size: 20px;
          color: #333333;
          font-weight: 800; }
        #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_type {
          border-bottom: 1px solid #dadada;
          padding-bottom: 20px;
          color: #666; }
          #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_type button {
            background: #fff;
            border: 1px solid #999999;
            width: 149px;
            line-height: 38px;
            margin-right: 10px; }
          #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_type .active {
            color: #f96c00;
            border: 1px solid #f96c00; }
        #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_select {
          line-height: 38px;
          color: #666; }
          #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_select button {
            background: #fff;
            border: 1px solid #999999;
            width: 149px;
            margin-right: 10px; }
          #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_select .intro_teacher_card_form_select_input {
            width: 149px;
            background: #fff;
            border: 1px solid #e0e0e0;
            color: #666666; }
            #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_select .intro_teacher_card_form_select_input span {
              margin-left: 20px; }
            #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_select .intro_teacher_card_form_select_input select {
              border: none;
              box-shadow: none;
              padding: 0;
              width: 88px;
              color: #666666;
              font-size: 12px;
              line-height: 38px;
              margin-top: 2px; }
        #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_allowed button {
          width: 180px;
          line-height: 48px;
          color: #fff;
          background: #f96d00;
          border-radius: 2px;
          border: none;
          font-size: 18px; }
        #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_allowed .intro_teacher_card_form_allowed_l span {
          font-size: 16px;
          color: #999999; }
        #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_allowed .intro_teacher_card_form_allowed_r {
          cursor: pointer;
          margin-right: 35px; }
          #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_allowed .intro_teacher_card_form_allowed_r img {
            width: 28px;
            margin-top: 12px;
            margin-right: 12px; }
          #intro_page .intro_page_banner .intro_teacher .intro_teacher_card .intro_teacher_card_form .intro_teacher_card_form_allowed .intro_teacher_card_form_allowed_r span {
            line-height: 50px;
            font-size: 14px;
            color: #666; }
#intro_page .intro_content {
  margin-top: 210px; }
  #intro_page .intro_content .intro_services_content {
    padding: 30px 35px;
    color: #666;
    font-size: 16px; }
    #intro_page .intro_content .intro_services_content .intro_services_content_list {
      margin-top: 10px; }
      #intro_page .intro_content .intro_services_content .intro_services_content_list p {
        margin-right: 18px; }
      #intro_page .intro_content .intro_services_content .intro_services_content_list ol li {
        width: 570px;
        margin-bottom: 20px; }
        #intro_page .intro_content .intro_services_content .intro_services_content_list ol li p {
          float: left; }
        #intro_page .intro_content .intro_services_content .intro_services_content_list ol li span {
          float: right; }
    #intro_page .intro_content .intro_services_content .intro_services_content_evaluate {
      position: relative; }
      #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tab span {
        margin-right: 60px;
        cursor: pointer;
        font-size: 14px; }
      #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tab .intro_services_content_evaluate_tab_all {
        color: #fa6c00; }
      #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tab .intro_services_content_evaluate_tab_good {
        color: #fa6c00; }
      #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tab .intro_services_content_evaluate_tab_bad {
        color: #666; }
      #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tabList {
        margin-top: 30px;
        width: 730px; }
        #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tabList li {
          height: 80px;
          border-bottom: 1px dashed #dcdcdc; }
          #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tabList li .intro_services_content_evaluate_tabList_l {
            margin-top: 18px; }
            #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tabList li .intro_services_content_evaluate_tabList_l img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 20px; }
            #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tabList li .intro_services_content_evaluate_tabList_l .intro_services_content_evaluate_tabList_con {
              margin-top: -5px; }
              #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tabList li .intro_services_content_evaluate_tabList_l .intro_services_content_evaluate_tabList_con p {
                color: #333;
                margin-bottom: 10px; }
              #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tabList li .intro_services_content_evaluate_tabList_l .intro_services_content_evaluate_tabList_con span {
                color: #999; }
          #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_tab_wrap .intro_services_content_evaluate_tabList li .intro_services_content_evaluate_tabList_r {
            color: #fa6d03;
            line-height: 80px; }
      #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_start {
        position: absolute;
        right: 50px;
        top: 30px;
        font-size: 14px; }
        #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_start .star_num {
          text-align: center;
          color: #fa6c00; }
        #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_start .population {
          color: #666666; }
          #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_start .population span {
            color: #fa6c00; }
        #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_start ul {
          margin: 5px 0; }
          #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_start ul li {
            float: left;
            margin-right: 10px; }
            #intro_page .intro_content .intro_services_content .intro_services_content_evaluate .intro_services_content_evaluate_start ul li img {
              width: 22px; }

#recruit .recruit_content {
  margin-top: 40px; }
  #recruit .recruit_content .recruit_content_info .recruit_content_info_con {
    padding: 30px 0; }
    #recruit .recruit_content .recruit_content_info .recruit_content_info_con .recruit_content_info_con_l {
      width: 50%;
      border-bottom: 1px solid #666;
      position: relative; }
      #recruit .recruit_content .recruit_content_info .recruit_content_info_con .recruit_content_info_con_l img {
        width: 100%;
        height: 320px; }
      #recruit .recruit_content .recruit_content_info .recruit_content_info_con .recruit_content_info_con_l .recruit_content_info_con_l_zhezhao {
        position: absolute;
        height: 48px;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #000;
        opacity: .6; }
      #recruit .recruit_content .recruit_content_info .recruit_content_info_con .recruit_content_info_con_l p {
        position: absolute;
        line-height: 48px;
        width: 100%;
        color: #fff;
        text-align: center;
        bottom: 0;
        font-size: 14px;
        left: 0; }
    #recruit .recruit_content .recruit_content_info .recruit_content_info_con .recruit_content_info_con_r {
      border-top: 1px solid #dadada;
      width: 599px;
      height: 320px; }
      #recruit .recruit_content .recruit_content_info .recruit_content_info_con .recruit_content_info_con_r ul li {
        float: left;
        border-right: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        width: 273.5px;
        height: 123px;
        padding: 18px 0 18px 25px; }
        #recruit .recruit_content .recruit_content_info .recruit_content_info_con .recruit_content_info_con_r ul li dl {
          width: 256px; }
        #recruit .recruit_content .recruit_content_info .recruit_content_info_con .recruit_content_info_con_r ul li dt {
          line-height: 24px;
          overflow: hidden;
          font-size: 17px;
          text-overflow: ellipsis;
          white-space: nowrap;
          border-left: 2px solid #393e46; }
        #recruit .recruit_content .recruit_content_info .recruit_content_info_con .recruit_content_info_con_r ul li dd {
          margin-left: 20px;
          font-size: 14px;
          margin-top: 15px;
          color: #333;
          position: relative;
          line-height: 24px;
          /* 高度为需要显示的行数*行高，比如这里我们显示两行，则为3 */
          height: 72px;
          overflow: hidden; }
        #recruit .recruit_content .recruit_content_info .recruit_content_info_con .recruit_content_info_con_r ul li dd:after {
          content: "...";
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 0 8px;
          background-color: #fff; }
  #recruit .recruit_content .recruit_shareit .recruit_shareit_con ul {
    margin-bottom: 30px;
    color: #333; }
    #recruit .recruit_content .recruit_shareit .recruit_shareit_con ul li {
      margin-top: 15px;
      border-bottom: 2px solid #dadada; }
      #recruit .recruit_content .recruit_shareit .recruit_shareit_con ul li .recruit_shareit_con_title {
        font-size: 18px;
        line-height: 48px; }
      #recruit .recruit_content .recruit_shareit .recruit_shareit_con ul li .recruit_shareit_con_p {
        font-size: 14px;
        line-height: 25px;
        width: 800px; }
      #recruit .recruit_content .recruit_shareit .recruit_shareit_con ul li .recruit_shareit_con_bottom {
        margin-top: 15px;
        width: 334px; }
        #recruit .recruit_content .recruit_shareit .recruit_shareit_con ul li .recruit_shareit_con_bottom img {
          width: 100%;
          height: 174px; }
        #recruit .recruit_content .recruit_shareit .recruit_shareit_con ul li .recruit_shareit_con_bottom .recruit_shareit_con_bot_span {
          line-height: 58px;
          color: #666;
          margin-bottom: 10px; }
  #recruit .recruit_content .recruit_choices .recruit_choices_con ul {
    margin: 15px 0 80px 0;
    width: 700px; }
    #recruit .recruit_content .recruit_choices .recruit_choices_con ul li {
      margin-top: 30px;
      color: #333;
      font-size: 14px; }

#recruit_detail .recruit_detail_head .recruit_detail_head_title h4 {
  font-size: 14px;
  line-height: 50px;
  color: #666; }
#recruit_detail .recruit_detail_head .recruit_detail_head_title .recruit_detail_head_title_search {
  padding-bottom: 30px;
  border-bottom: 1px solid #dadada; }
  #recruit_detail .recruit_detail_head .recruit_detail_head_title .recruit_detail_head_title_search .recruit_detail_head_title_search_l {
    font-size: 28px;
    color: #666666;
    line-height: 54px; }
  #recruit_detail .recruit_detail_head .recruit_detail_head_title .recruit_detail_head_title_search .recruit_detail_head_title_search_r {
    margin-left: 50px; }
    #recruit_detail .recruit_detail_head .recruit_detail_head_title .recruit_detail_head_title_search .recruit_detail_head_title_search_r .form-control {
      height: 54px;
      width: 360px; }
    #recruit_detail .recruit_detail_head .recruit_detail_head_title .recruit_detail_head_title_search .recruit_detail_head_title_search_r .input-group-btn button {
      height: 54px;
      padding: 0 12px;
      width: 54px;
      background: url("../img/search.png") no-repeat center; }
#recruit_detail .recruit_rank {
  padding: 30px 0;
  border-bottom: 1px dashed #dadada; }
  #recruit_detail .recruit_rank .recruit_rank_title {
    font-size: 14px;
    color: #333333;
    line-height: 32px; }
  #recruit_detail .recruit_rank ul {
    font-size: 12px;
    color: #666666;
    line-height: 32px;
    width: 1010px; }
    #recruit_detail .recruit_rank ul li {
      width: 62px;
      text-align: center;
      float: left;
      margin-right: 10px;
      cursor: pointer; }
    #recruit_detail .recruit_rank ul .active {
      background: #393e46;
      color: #fff;
      border-radius: 3px; }
#recruit_detail .recruit_chapter {
  border-bottom: 1px solid #dadada;
  margin-bottom: 25px; }
  #recruit_detail .recruit_chapter li {
    border: 1px solid #dadada;
    border-radius: 3px; }
#recruit_detail .recruit_list {
  margin-bottom: 45px; }
  #recruit_detail .recruit_list ul li {
    border-bottom: 1px solid #dadada;
    line-height: 68px; }
    #recruit_detail .recruit_list ul li i {
      height: 16px;
      width: 2px;
      background: #c6c6c6;
      display: block;
      font-size: 14px;
      margin: 25px 10px 0px 10px; }
    #recruit_detail .recruit_list ul li .recruit_list_l {
      color: #333; }
    #recruit_detail .recruit_list ul li .recruit_list_r {
      color: #666; }
      #recruit_detail .recruit_list ul li .recruit_list_r .recruit_list_img {
        margin-top: 23px;
        margin-right: 5px; }
      #recruit_detail .recruit_list ul li .recruit_list_r .recruit_list_span {
        color: #f96d00; }

#indiv_center .users_nav {
  width: 240px; }
  #indiv_center .users_nav .user_nav_title {
    line-height: 100px; }
    #indiv_center .users_nav .user_nav_title span {
      font-size: 20px;
      color: #666;
      cursor: pointer; }
    #indiv_center .users_nav .user_nav_title .user_nav_title_i {
      height: 20px;
      background: #dadada;
      width: 2px;
      margin: 40px 0 0 39px; }
    #indiv_center .users_nav .user_nav_title .active {
      color: #f96d00; }
  #indiv_center .users_nav .user_nav_con ul {
    width: 240px;
    box-shadow: 0 0 13px #f8f8f8;
    border-top: 1px solid #dadada; }
    #indiv_center .users_nav .user_nav_con ul li {
      padding: 0 55px;
      line-height: 65px;
      border-bottom: 1px solid #dadada;
      cursor: pointer; }
      #indiv_center .users_nav .user_nav_con ul li span {
        float: right;
        font-size: 18px; }
      #indiv_center .users_nav .user_nav_con ul li .user_nav_con_img {
        float: left;
        width: 38px;
        margin-top: 15px; }
        #indiv_center .users_nav .user_nav_con ul li .user_nav_con_img img {
          margin: 0 auto;
          display: block; }
    #indiv_center .users_nav .user_nav_con ul .active {
      background: #5c636e;
      color: #fff; }
#indiv_center .user_con {
  width: 910px;
  margin-top: 100px; }
  #indiv_center .user_con .general_user ul li {
    display: none;
    box-shadow: 0 0 15px #e7e7e7; }
  #indiv_center .user_con .general_user ul .general_user_info {
    background: #fff;
    padding: 50px 0 50px 50px; }
    #indiv_center .user_con .general_user ul .general_user_info .general_user_info_head {
      padding-bottom: 30px;
      border-bottom: 1px solid #dadada; }
      #indiv_center .user_con .general_user ul .general_user_info .general_user_info_head img {
        width: 105px; }
      #indiv_center .user_con .general_user ul .general_user_info .general_user_info_head .general_user_info_head_text {
        margin: 20px 0 0 35px; }
        #indiv_center .user_con .general_user ul .general_user_info .general_user_info_head .general_user_info_head_text h4 {
          font-size: 21px;
          color: #333333;
          font-weight: 700;
          margin-bottom: 20px; }
        #indiv_center .user_con .general_user ul .general_user_info .general_user_info_head .general_user_info_head_text span {
          color: #666666;
          font-size: 16px;
          cursor: pointer; }
    #indiv_center .user_con .general_user ul .general_user_info .general_user_info_form {
      margin-top: 25px; }
      #indiv_center .user_con .general_user ul .general_user_info .general_user_info_form li {
        display: block;
        box-shadow: none;
        color: #666;
        line-height: 40px;
        float: left;
        margin-top: 25px;
        margin-right: 57px; }
        #indiv_center .user_con .general_user ul .general_user_info .general_user_info_form li span {
          font-size: 14px; }
        #indiv_center .user_con .general_user ul .general_user_info .general_user_info_form li input {
          line-height: 38px;
          border: 1px solid #dadada;
          padding: 0 15px;
          width: 234px; }
    #indiv_center .user_con .general_user ul .general_user_info .general_user_info_button {
      display: block;
      width: 180px;
      line-height: 48px;
      background: #f96d00;
      color: #fff;
      font-size: 16px;
      border: none;
      border-radius: 3px;
      margin: 50px 0 0 316px; }
  #indiv_center .user_con .general_user ul .general_user_ertified {
    padding-top: 25px; }
    #indiv_center .user_con .general_user ul .general_user_ertified .important {
      background: url("../img/important.png") no-repeat 64px 12px; }
    #indiv_center .user_con .general_user ul .general_user_ertified .important_long {
      background: url("../img/important.png") no-repeat 51px 12px; }
    #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form li {
      display: block;
      box-shadow: none;
      color: #666;
      line-height: 40px;
      float: left;
      margin-top: 25px;
      width: 378px;
      text-align: right; }
      #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form li span {
        font-size: 14px; }
      #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form li input {
        line-height: 38px;
        border: 1px solid #dadada;
        padding: 0 15px;
        width: 234px; }
      #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form li .form-control {
        border: 1px solid #dadada;
        box-shadow: none;
        padding: 0 15px;
        width: 234px;
        color: #666666;
        font-size: 14px;
        line-height: 38px;
        border-radius: 0;
        height: 40px; }
    #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form .general_user_ertified_form_getCode {
      position: relative; }
      #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form .general_user_ertified_form_getCode button {
        display: block;
        width: 98px;
        height: 40px;
        border: 1px solid #fb6d01;
        color: #fb6d01;
        background: #fff;
        position: absolute;
        right: -110px;
        top: 0; }
    #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form2 {
      padding-left: 73px; }
      #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form2 li {
        display: block;
        box-shadow: none;
        color: #666;
        line-height: 40px;
        margin-top: 25px; }
        #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form2 li span {
          font-size: 14px; }
        #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form2 li input {
          line-height: 38px;
          border: 1px solid #dadada;
          padding: 0 15px;
          width: 234px;
          margin-left: 20px; }
        #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form2 li .form-control {
          border: 1px solid #dadada;
          box-shadow: none;
          padding: 0 15px;
          width: 234px;
          color: #666666;
          font-size: 14px;
          line-height: 38px;
          border-radius: 0;
          height: 40px; }
      #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form2 .add_button_wrap {
        font-size: 14px;
        margin-top: 10px; }
        #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form2 .add_button_wrap .add_button img {
          display: block;
          margin-top: 15px;
          margin-right: 10px; }
        #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form2 .add_button_wrap .add_button button {
          border: none;
          background: #fff;
          display: block;
          color: #f96d00;
          font-size: 16px;
          line-height: 48px;
          margin-left: 357px; }
    #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form3 {
      padding: 20px 0 0 115px; }
      #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form3 li {
        display: block;
        box-shadow: none;
        color: #666;
        width: 330px;
        text-align: center;
        margin-right: 47px;
        float: left;
        font-size: 14px; }
      #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form3 .general_user_ertified_form3_wrap {
        width: 328px;
        border: 1px dashed #dadada;
        text-align: center;
        line-height: 178px;
        color: #f96d00;
        cursor: pointer; }
      #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_form3 span {
        line-height: 70px; }
    #indiv_center .user_con .general_user ul .general_user_ertified .general_user_ertified_btn {
      border: none;
      width: 180px;
      line-height: 48px;
      background: #f96d00;
      color: #fff;
      border-radius: 3px;
      margin: 20px 0 50px 380px; }
  #indiv_center .user_con .elite_users ul li {
    display: none;
    box-shadow: 0 0 15px #e7e7e7; }
  #indiv_center .user_con .elite_users ul .elite_users_info {
    background: #fff;
    padding: 50px 0 50px 50px; }
    #indiv_center .user_con .elite_users ul .elite_users_info .elite_users_info_head {
      padding-bottom: 30px;
      border-bottom: 1px solid #dadada; }
      #indiv_center .user_con .elite_users ul .elite_users_info .elite_users_info_head img {
        width: 105px; }
      #indiv_center .user_con .elite_users ul .elite_users_info .elite_users_info_head .elite_users_info_head_text {
        margin: 20px 0 0 35px; }
        #indiv_center .user_con .elite_users ul .elite_users_info .elite_users_info_head .elite_users_info_head_text h4 {
          font-size: 21px;
          color: #333333;
          font-weight: 700;
          margin-bottom: 20px; }
        #indiv_center .user_con .elite_users ul .elite_users_info .elite_users_info_head .elite_users_info_head_text span {
          color: #666666;
          font-size: 16px;
          cursor: pointer; }
    #indiv_center .user_con .elite_users ul .elite_users_info .elite_users_info_form {
      margin-top: 25px; }
      #indiv_center .user_con .elite_users ul .elite_users_info .elite_users_info_form li {
        display: block;
        box-shadow: none;
        color: #666;
        line-height: 40px;
        float: left;
        margin-top: 25px;
        margin-right: 57px; }
        #indiv_center .user_con .elite_users ul .elite_users_info .elite_users_info_form li span {
          font-size: 14px; }
        #indiv_center .user_con .elite_users ul .elite_users_info .elite_users_info_form li input {
          line-height: 38px;
          border: 1px solid #dadada;
          padding: 0 15px;
          width: 234px; }
    #indiv_center .user_con .elite_users ul .elite_users_info .elite_users_info_button {
      display: block;
      width: 180px;
      line-height: 48px;
      background: #f96d00;
      color: #fff;
      font-size: 16px;
      border: none;
      border-radius: 3px;
      margin: 50px 0 0 316px; }
  #indiv_center .user_con .elite_users ul .elite_users_ertified {
    padding-top: 25px; }
    #indiv_center .user_con .elite_users ul .elite_users_ertified .important {
      background: url("../img/important.png") no-repeat 64px 12px; }
    #indiv_center .user_con .elite_users ul .elite_users_ertified .important_long {
      background: url("../img/important.png") no-repeat 51px 12px; }
    #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form li {
      display: block;
      box-shadow: none;
      color: #666;
      line-height: 40px;
      float: left;
      margin-top: 25px;
      width: 378px;
      text-align: right; }
      #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form li span {
        font-size: 14px; }
      #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form li input {
        line-height: 38px;
        border: 1px solid #dadada;
        padding: 0 15px;
        width: 234px; }
      #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form li .form-control {
        border: 1px solid #dadada;
        box-shadow: none;
        padding: 0 15px;
        width: 234px;
        color: #666666;
        font-size: 14px;
        line-height: 38px;
        border-radius: 0;
        height: 40px; }
    #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form .elite_users_ertified_form_getCode {
      position: relative; }
      #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form .elite_users_ertified_form_getCode button {
        display: block;
        width: 98px;
        height: 40px;
        border: 1px solid #fb6d01;
        color: #fb6d01;
        background: #fff;
        position: absolute;
        right: -110px;
        top: 0; }
    #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form2 {
      padding-left: 73px; }
      #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form2 li {
        display: block;
        box-shadow: none;
        color: #666;
        line-height: 40px;
        margin-top: 25px; }
        #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form2 li span {
          font-size: 14px; }
        #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form2 li input {
          line-height: 38px;
          border: 1px solid #dadada;
          padding: 0 15px;
          width: 234px;
          margin-left: 20px; }
        #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form2 li .form-control {
          border: 1px solid #dadada;
          box-shadow: none;
          padding: 0 15px;
          width: 234px;
          color: #666666;
          font-size: 14px;
          line-height: 38px;
          border-radius: 0;
          height: 40px; }
      #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form2 .add_button_wrap {
        font-size: 14px;
        margin-top: 10px; }
        #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form2 .add_button_wrap .add_button img {
          display: block;
          margin-top: 15px;
          margin-right: 10px; }
        #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form2 .add_button_wrap .add_button button {
          border: none;
          background: #fff;
          display: block;
          color: #f96d00;
          font-size: 16px;
          line-height: 48px;
          margin-left: 357px; }
    #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form3 {
      padding: 20px 0 0 115px; }
      #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form3 li {
        display: block;
        box-shadow: none;
        color: #666;
        width: 330px;
        text-align: center;
        margin-right: 47px;
        float: left;
        font-size: 14px; }
      #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form3 .elite_users_ertified_form3_lastLi {
        margin-left: 191px; }
      #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form3 .elite_users_ertified_form3_wrap {
        width: 328px;
        border: 1px dashed #dadada;
        text-align: center;
        line-height: 178px;
        color: #f96d00;
        cursor: pointer; }
      #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_form3 span {
        line-height: 70px; }
    #indiv_center .user_con .elite_users ul .elite_users_ertified .elite_users_ertified_btn {
      border: none;
      width: 180px;
      line-height: 48px;
      background: #f96d00;
      color: #fff;
      border-radius: 3px;
      margin: 20px 0 50px 380px; }
  #indiv_center .user_con .public_release {
    padding: 29px 0 0 48px; }
    #indiv_center .user_con .public_release .announcement {
      color: #f96d00;
      font-size: 14px; }
    #indiv_center .user_con .public_release .public_release_title {
      display: block;
      box-shadow: none;
      color: #666;
      line-height: 40px;
      margin-top: 25px;
      margin-right: 57px; }
      #indiv_center .user_con .public_release .public_release_title span {
        font-size: 14px; }
      #indiv_center .user_con .public_release .public_release_title input {
        line-height: 38px;
        border: 1px solid #dadada;
        padding: 0 15px;
        width: 234px; }
    #indiv_center .user_con .public_release .public_release_textarea {
      color: #666;
      margin-top: 25px;
      margin-right: 57px; }
      #indiv_center .user_con .public_release .public_release_textarea span {
        font-size: 14px; }
      #indiv_center .user_con .public_release .public_release_textarea textarea {
        line-height: 38px;
        border: 1px solid #dadada;
        width: 692px;
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        margin-left: 3px; }
    #indiv_center .user_con .public_release .public_release_c {
      border-top: 1px solid #393e46;
      margin-top: 25px; }
      #indiv_center .user_con .public_release .public_release_c .intro_teacher_card_form_select {
        color: #666;
        display: block;
        box-shadow: none;
        line-height: 38px;
        margin-top: 50px; }
        #indiv_center .user_con .public_release .public_release_c .intro_teacher_card_form_select span {
          font-size: 14px; }
        #indiv_center .user_con .public_release .public_release_c .intro_teacher_card_form_select input {
          line-height: 38px;
          border: 1px solid #dadada;
          padding: 0 15px;
          width: 234px;
          margin-left: 3px; }
        #indiv_center .user_con .public_release .public_release_c .intro_teacher_card_form_select .intro_teacher_card_form_select_input2 {
          width: 149px; }
        #indiv_center .user_con .public_release .public_release_c .intro_teacher_card_form_select .intro_teacher_card_form_select_input {
          width: 149px;
          background: #fff;
          border: 1px solid #e0e0e0;
          color: #666666;
          margin-left: 15px; }
          #indiv_center .user_con .public_release .public_release_c .intro_teacher_card_form_select .intro_teacher_card_form_select_input span {
            margin-left: 20px; }
          #indiv_center .user_con .public_release .public_release_c .intro_teacher_card_form_select .intro_teacher_card_form_select_input select {
            border: none;
            box-shadow: none;
            padding: 0;
            width: 88px;
            color: #666666;
            font-size: 12px;
            line-height: 38px;
            margin-top: 2px; }
    #indiv_center .user_con .public_release .add_button_wrap {
      font-size: 14px;
      border-bottom: 1px solid #dadada; }
      #indiv_center .user_con .public_release .add_button_wrap .add_button img {
        display: block;
        margin-top: 30px;
        margin-right: 10px; }
      #indiv_center .user_con .public_release .add_button_wrap .add_button button {
        border: none;
        background: #fff;
        display: block;
        color: #f96d00;
        line-height: 78px;
        font-size: 16px;
        margin-left: 357px; }
    #indiv_center .user_con .public_release .general_user_ertified_btn {
      border: none;
      width: 180px;
      line-height: 48px;
      background: #f96d00;
      color: #fff;
      border-radius: 3px;
      margin: 20px 0 50px 317px; }
  #indiv_center .user_con .public_useInfo .public_useInfo_ul {
    padding: 26px 0 40px 50px; }
    #indiv_center .user_con .public_useInfo .public_useInfo_ul li {
      display: block;
      box-shadow: none;
      width: 667px;
      line-height: 38px;
      font-size: 14px;
      color: #333;
      background: #f2f2f2;
      border: 1px solid #dadada;
      padding: 0 70px 0 25px;
      margin-top: 24px; }
      #indiv_center .user_con .public_useInfo .public_useInfo_ul li img {
        margin-top: 6px; }
      #indiv_center .user_con .public_useInfo .public_useInfo_ul li .public_useInfo_ul_user {
        margin-left: 20px;
        width: 128px; }
      #indiv_center .user_con .public_useInfo .public_useInfo_ul li .public_useInfo_ul_tel {
        color: #666; }
      #indiv_center .user_con .public_useInfo .public_useInfo_ul li a {
        color: #f96d00; }
  #indiv_center .user_con .public_balance {
    padding: 30px 96px 0 50px; }
    #indiv_center .user_con .public_balance h4 {
      line-height: 63px;
      color: #333333;
      font-size: 22px;
      font-weight: 500;
      border-bottom: 1px solid #dadada; }
    #indiv_center .user_con .public_balance .public_div_balance {
      margin-top: 20px;
      font-weight: 600; }
      #indiv_center .user_con .public_balance .public_div_balance .public_mine_balance {
        width: 321px;
        height: 128px;
        background: #f2f2f2;
        padding: 34px 0 0 24px;
        margin-right: 30px; }
        #indiv_center .user_con .public_balance .public_div_balance .public_mine_balance span {
          font-size: 14px;
          color: #333; }
        #indiv_center .user_con .public_balance .public_div_balance .public_mine_balance p {
          margin-top: 50px;
          font-size: 28px;
          color: #f96d00; }
      #indiv_center .user_con .public_balance .public_div_balance .public_usable_balance {
        width: 321px;
        height: 128px;
        background: #f2f2f2;
        padding: 34px 0 0 24px; }
        #indiv_center .user_con .public_balance .public_div_balance .public_usable_balance span {
          font-size: 14px;
          color: #333; }
        #indiv_center .user_con .public_balance .public_div_balance .public_usable_balance p {
          margin-top: 50px;
          font-size: 28px;
          color: #f96d00; }
      #indiv_center .user_con .public_balance .public_div_balance .public_usable_balance_button {
        padding-left: 360px;
        padding-bottom: 170px; }
        #indiv_center .user_con .public_balance .public_div_balance .public_usable_balance_button button {
          width: 82px;
          line-height: 40px;
          background: #5c636e;
          color: #fff;
          border-radius: 4px;
          border: none;
          margin-top: 30px;
          margin-left: 70px; }
  #indiv_center .user_con .public_news {
    padding: 12px 0 50px 50px; }
    #indiv_center .user_con .public_news .public_news_title {
      font-size: 16px;
      color: #333;
      line-height: 54px;
      border-bottom: 1px solid #dadada; }
      #indiv_center .user_con .public_news .public_news_title span {
        float: left;
        cursor: pointer; }
      #indiv_center .user_con .public_news .public_news_title .active {
        color: #f96d00;
        border-bottom: 2px solid #f96d00; }
    #indiv_center .user_con .public_news .public_news_con {
      width: 765px;
      line-height: 24px;
      margin: 30px 0 0 0; }
      #indiv_center .user_con .public_news .public_news_con .public_news_con_select_all {
        padding-bottom: 22px; }
        #indiv_center .user_con .public_news .public_news_con .public_news_con_select_all button {
          background: #fff;
          border: none;
          color: #f96d00; }
      #indiv_center .user_con .public_news .public_news_con .public_news_con_list li {
        display: block;
        box-shadow: none;
        color: #333;
        line-height: 24px;
        padding: 8px 0;
        border-bottom: 1px solid #dadada;
        margin-top: 20px; }
      #indiv_center .user_con .public_news .public_news_con .public_news_con_list li:last-child {
        border-bottom: none; }
      #indiv_center .user_con .public_news .public_news_con .public_news_con_list .public_news_con_list_r span {
        font-size: 12px; }
      #indiv_center .user_con .public_news .public_news_con .public_news_con_list .public_news_con_list_r button {
        background: #fff;
        border: none;
        color: #666;
        margin-top: -1px; }
      #indiv_center .user_con .public_news .public_news_con .public_news_con_list .public_news_con_list_r button:hover {
        background: #f96d00;
        color: #fff;
        border-radius: 4px; }
      #indiv_center .user_con .public_news .public_news_con .public_news_con_list .public_news_con_list_r i {
        width: 2px;
        height: 16px;
        background: #c6c6c6;
        margin: 6px 10px 0px 10px; }

/*# sourceMappingURL=index.css.map */
