@charset "utf-8";
//头
#header{
    height:48px;
    width:100%;
    background: #404040;
    color: #fff;
    .content{
        line-height: 48px;
        a{
            color: #fff;
        }
        img{
            display: block;
        }
        .tel{
            margin-left:80px;
            img{
                width:26px;
                margin-top:10px;
            }
        }
        .mail{
            margin-left:80px;
            img{
                width:28px;
                margin-top:15px;
            }
        }
        .loginAndRegister{
            img{
                margin-top:16px;
            }
        }
    }
}
//页码

/*
    * 页数按钮样式
    */
.page_div {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 15px;
    font-family: "microsoft yahei";
    color: #666666;
    margin-right: 10px;

    box-sizing: border-box;
    text-align: center;
}
.page_div a {
    min-width: 30px;
    height: 28px;
    border: 1px solid #dce0e0!important;
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
    line-height: 28px;
    color: #666666;
    font-size: 13px;
    display: inline-block;
    background: #dadada;
}

#firstPage,
#lastPage {
    width: 50px;
    color: #0073A9;
    border: 1px solid #0073A9!important;
}

#prePage,
#nextPage {
    width: 30px;
    color: #a3a3a3;
    border: 1px solid #dadada!important;
    background: #f2f2f2;
}

.page_div .current {
    background-color: #5c636e;
    color: #FFFFFF;
}

.totalPages {
    margin: 0 10px;
}

.totalPages span,
.totalSize span {
    color: #0073A9;
    margin: 0 5px;
}

//页脚
#footer{
    height:266px;
    width:100%;
    background: #404040;
    color: #fff;
    .content{   
        ul{
            padding: 40px 0 0 130px;
            li{
                float: left;
                margin-left:110px;
                a{
                    color: #fff;
                    font-size: 18px;
                }
            }
            li:first-child{
                margin-left:0;
            }
        }
        .content_bottom{
            padding: 0 0 0 130px;
            .content_bottom_l{
                margin-top:50px;
                h5{
                    font-size: 20px;
                    
                }
                span{
                    display: block;
                    margin-top:30px;
                    font-size: 16px;
                }
            }
            .content_bottom_c{
                margin-top:50px;
                margin-right:80px;
                h5{
                    font-size: 20px;
                    
                }
                span{
                    display: block;
                    margin-top:30px;
                    font-size: 16px;
                }
                i{
                    display: block;
                    font-size: 16px;
                }
            }
            img{
                display: block;
                margin:25px 60px 0 0;
            }
        }
    }
}
//公告导航
.title_nav{
    padding: 35px 0;
    .title_nav_l{
        img{
            width:47px;
        }
        .title_nav_text{
            span{
                font-size: 28px;
                font-weight:300;
                line-height: 46px;
            }
            i{
                font-size: 18px;
                line-height: 46px;
                font-weight:300;
            }
        }
    }
    .title_nav_r{
        font-size: 15px;
        line-height: 50px;
        
        li{
            float: left;
            margin-right:45px;
            cursor: pointer;
            a{
                font-weight: 600;
                color: #666666;
            }
        }
        .active{
            a{
                color: #f96d00;
            }
            
        }
    }
}
// 公共线
.title_line{
    width: 100%;
    height: 2px;
    background: #393e46;
}
// 公共标题
.title_border{
    border-bottom: 2px solid #dadada;
    position: relative;
    p{
        font-size: 22px;
        line-height: 62px;
        color: #333;
    }
    a{
        line-height: 62px;
        color: #666666;
        font-size: 14px;
    }
    img{
        position: absolute;
        bottom: -2px;
        left: 0;
    }

}
// 注册/登陆页面
#register{
    .content{
        padding: 100px 0 150px 0 ;
        .content_logo{
            margin-top:300px;
            img{
                display: block;
                width:110px;
            }
            .content_logo_title{
                margin-left:30px;
                color: #333;
                span{
                    font-size: 42px;
                    font-weight:300;
                    line-height: 110px;
                }
                i{
                    font-size: 24px;
                    line-height: 110px;
                    font-weight:300;
                }
            }
        }
        //注册页面输入框
        .content_input{
            width: 437px;
            height:622px;
            -moz-box-shadow:0 0 15px #e7e7e7;
            -webkit-box-shadow:0 0 15px #e7e7e7;
            box-shadow:0 0 15px #e7e7e7;
            padding: 45px;
            border-radius: 8px ;
            -moz-border-radius:8px;  
            -ms-border-radius:8px;
            -o-border-radius:8px;
            h6{
                font-size: 24px;
                color: #fb6d01;
                text-align: center;
                cursor: pointer;
            }
            em{
                display: block;
                height:2px;
                width:100%;
                background: #fb6d01;
                position: relative;
                img{
                    position: absolute;
                    left: 47.5%;
                    top:-15px;
                }
            }
            .content_input_list{
                margin-top:25px;
                .content_input_list_li{
                    margin:20px 15px 0 15px; 
                    padding: 22px 0;
                    border-bottom: 1px solid #dadada;
                    position: relative;
                    .form-control{
                        width: 100%;
                        border:none;
                        outline:none !important;
                        box-shadow: none;
                    }
                    .btn{
                        border:none;
                        position: relative;
                        margin-right:15px;
                        font-size: 16px;
                        font-weight: 600;
                        .caret{
                            border:none;
                            display: block;
                            background: url("../img/pulldown.png") no-repeat center;
                            background-size: 16px 9px;
                            width:16px;
                            height:15px;
                            position: absolute;
                            right:-10px;
                            top:10px;
                        }
                    }
                    img{
                        display: block;
                        position: absolute;
                        right:0;
                        top:15px;
                    }
                    .getCode{
                        display: block;
                        width:98px;
                        height:38px;
                        border: 1px solid #fb6d01;
                        color: #fb6d01;
                        background: #fff;
                        position: absolute;
                        right:0;
                        top:15px;
                    }
                }
                .btn_register{
                    display: block;
                    margin-left:15px;
                    width:407px;
                    background: #fb6d01;
                    border: none;
                    color: #fff;
                    line-height: 56px;
                    font-size: 22px;
                    margin-top:40px;
                    border-radius: 4px ;
                    -moz-border-radius:4px;  
                    -ms-border-radius:4px;
                    -o-border-radius:4px;
                }
            }
            
        }
        // 登陆页面输入框
        .login_content{
            h6{
                width: 50%;
                color: #333333;
            }
            .line{
                display: block;
                height:2px;
                width:100%;
                background: #dadada;
                position: relative;
                img{
                    position: absolute;
                    left:0px;
                    top:-15px;
                }
            }
            .active{
                color: #fb6d01;
            }
            .line_active{
                display: block;
                height:2px;
                width:100%;
                background: #dadada;
                position: relative;
                img{
                    position: absolute;
                    right:0px;
                    top:-15px;
                }
            }
            .content_input_list{
                .btn_register{
                    margin-top:120px;
                }
                .forget{
                    margin-left:15px;
                    width:407px;
                    font-size: 15px;
                    font-weight:500;
                    .forget_l{
                        color: #fb6d01;
                        border: none;
                        background: #fff;
                        display: block;
                    }
                    .forget_r{
                        color: #999999;
                    }
                }
                .line_else{
                    display: block;
                    height:1px;
                    margin-left:15px;
                    margin-top:45px;
                    width:407px;
                    background: #999999;
                    color: #999;
                    position: relative;
                    span{
                        position: absolute;
                        text-align: center;
                        left:25%;
                        top:-10px;
                        width:200px;
                        background: #fff;
                        font-size: 16px;
                    }
                }
                .else_logo{
                    margin-top:40px;
                    padding: 0 30px;
                    .else_logo_c{
                        margin:0 99px;
                    }
                }
                
            }
            .login_content_input_list{
                .btn_register{
                    margin-top:21px;
                }
            }
            
        }
    }
}


//首页
#home_page{
    .banner_wrap{
        height:600px;
        min-width:1200px;
        background: url('../img/banner.png') no-repeat top;
        background-size: cover;
        padding-top: 145px;
        color: #fff;
        .banner{
            position: relative;
            text-align: right;
            .banner_text{
                position: absolute;
                right: 0;
                h1{
                    font-size: 84px;
                    font-family:  'Sing YiEG Ultra GB';
                    font-weight: 800;
                }
                .banner_text_p{
                    font-size: 22px;
                    font-family:  'BodoniBT Bold';
                    font-weight: 600;
                }
                .banner_case{
                    margin-top: 75px;
                    height:60px;
                    display: block;
                    width:410px;
                    border: 2px solid #fff;
                    border-radius: 10px;
                    position: relative;
                    .banner_case_sky{
                        font-size: 41px;
                        line-height: 60px;
                        position: absolute;
                        left:30px;
                    }
                    .banner_case_white{
                        font-size: 26px;
                        color: #f96d00;
                        display: block;
                        width: 195px;
                        height: 60px;
                        position: absolute;
                        right: 0;
                        background: #fff;
                        border-radius: 7px;
                        line-height: 60px;
                        text-align: center;
                    }
                }
                .banner_text_p2{
                    font-size: 22px;
                    span{
                        color: #f96d00;
                    }
                }
            }
            
        }
        
    }
    .skill_wrap{
        padding-top: 70px;
        color: #333333;
        h2{
            text-align: center;
            font-size: 30px;
        }
        .skill_tabs_tag{
            margin-top: 48px;
            background: url('../img/dian.png') repeat-x bottom;
            li{
                float: left;
                font-size: 16px;
                color: #999999;
                line-height: 45px;
                padding:  0 10px;
                cursor: pointer;
                margin-right: 39px;
            }
            .active{
                background: url('../img/dian2.png') repeat-x top;
                border-right: 1px solid #dadada;
                border-left:1px solid #dadada;
                border-bottom: 1px solid #fff;
                color: #333333;
            }
            
        }
        .skill_tabs_guide{
            margin-top:45px;
            li{
                float: left;
                margin-right: 29px;
                img{
                    width:278px;
                    height:278px;
                    display: block;
                }
            }
            li:last-child{
                margin-right: 0;
            }
        }
    }
    .view_more{
        margin-top: 70px; 
        height: 600px;
        min-width: 1200px;
        background: url('../img/view_more.png') no-repeat top;
        
        .view_more_pos{
            position: relative;
            height: 600px;
            button{
                border: none;
                background: #ffbc65;
                width: 285px;
                line-height: 48px;
                font-size: 22px;
                color: #fff;
                display: block;
                border-radius:48px;
                -moz-border-radius:48px; /* Old Firefox */
                position: absolute;
                right: 220px;
                bottom: 70px;
                box-shadow: 0px 7px 15px #c7c5c1;
            }
        }
        
    }
    .advantage{
        padding-top: 70px;
        color: #333333;
        h2{
            text-align: center;
            font-size: 30px;
        }
        .advantage_subhead{
            margin-top: 25px;
            font-size: 20px;
            color: #666;
            text-align: center;
        }
        ul{
            margin-top: 10px;
            li{
                margin-top: 30px;
                margin-right: 30px;
                float: left;
                position: relative;
                img{
                    width: 380px;
                    height: 275px;
                }
                .opc_wrap{
                    position: absolute;
                    left: 70px;
                    top: 110px;
                    height: 48px;
                    width: 240px;
                    opacity: .5;
                    background: #000;
                }
                span{
                    position: absolute;
                    left: 70px;
                    top: 110px;
                    width: 240px;
                    line-height: 48px;
                    color: #fff;
                    text-align: center;
                    font-size: 18px;
                    overflow: hidden;
                    text-overflow:  ellipsis;
                    white-space: nowrap;
                }
            }
            li:nth-child(3n+3){
                margin-right: 0;
            }
        }
    }
    .pocket{
        margin-top: 60px;
        h2{
            text-align: center;
            font-size: 30px;
        }
        .pocket_subhead{
            margin-top: 25px;
            font-size: 20px;
            color: #666;
            text-align: center;
        }
        .pocket_content{
            margin-top: 35px;
            .pocket_content_l{
                width: 545px;
                height: 370px;
            }
        }
        .pocket_content_r{
            position: relative;
            ul{
                margin-left: 105px;
                li{
                    margin-top: 35px;
                   .pocket_content_r_img{
                       margin-left: 7px;
                   }
                    .pocket_content_r_img1{
                        width: 58px;
                        height: 45px;
                        margin-right: 20px;
                        
                    }
                    .pocket_content_r_img2{
                        width: 42px;
                        height: 50px;
                        margin-right: 20px;
                    }
                    .pocket_content_r_img3{
                        width: 45px;
                        height: 50px;
                        margin-right: 20px;
                    }
                    h5{
                        font-size: 20px;
                        color: #333333;
                    }
                    p{
                        color: #666;
                        font-size: 18px;
                    }
                }
            }
            button{
                
                border: none;
                background: #ffbc65;
                width: 285px;
                line-height: 48px;
                font-size: 22px;
                color: #fff;
                display: block;
                border-radius: 48px;
                -moz-border-radius: 48px;
                position: absolute;
                right: 35px;
                bottom: -100px;
                box-shadow: 0px 7px 15px #c7c5c1;
            }
        }
    }
}

//先知精英
#elite_page{
    .elite_search{
        .elite_search_title{
            font-size: 18px;
            line-height: 75px;
            color: #333333;
        }
        .elite_search_input{
            ul{
                li{
                    float: left;
                    margin-right: 10px;
                    .form-control{
                        width: 168px;
                    }
                }
                button{
                    width: 80px;
                    height: 34px;
                    border: none;
                    background: #5c636e;
                    color: #fff;
                    border-radius: 3px;
                }

            }
        }
    }
    .elite_nav{
        margin-top: 30px;
        ul{
            line-height: 60px;
            font-size: 18px;
            color: #999;
            background: #f2f2f2;
            li{
                cursor: pointer;
                padding: 0 60px;
                float: left;
            }
            .active{
                background: #f96d00;
                color: #fff;
            }
        }
    }
    .elite_list{
        margin-top: 20px;
        ul{
            
            li{
                width: 278px;
                border: 1px solid #dadada;
                height: 393px;
                overflow: hidden;
                background-size: 100%;
                position: relative;
                float: left;
                margin-right: 25px;
                margin-top: 20px;
                .elite_list_person{
                    display: block;
                    margin: 0 auto;
                    box-shadow: 0 0 5px ;
                }
                .elite_list_shade{
                    position: absolute;
                    bottom: 0;

                }
                .elite_list_synopsis{
                    position: absolute;
                    bottom: -10px;
                    left: 58px;
                    color: #fff;
                    width: 170px;
                    height: 107px;
                    font-size: 14px;
                    line-height: 28px;

                }
            }
        }
    }

}

//精英详情
#intro_page{
    .intro_page_banner{
        background: url('../img/banner2.png') no-repeat 100%;
        height: 480px;
        .intro_teacher{
            position: relative;
            .elite_search_title{
                font-size: 14px;
                line-height: 75px;
                color: #666;
            }
            .intro_teacher_card{
                position: absolute;
                top: 125px;
                left: 0;
                width: 100%;
                height: 520px;
                background: #fff url('../img/vigour.png') no-repeat left;
                background-size: 100%;
                box-shadow: 0 0 15px #ddd;
                .intro_teacher_card_person{
                    position: absolute;
                    top: -84px;
                    left: 30px;
                }
                .intro_teacher_card_form{
                    width: 630px;
                    float: right;
                    margin-top: 50px;
                    .intro_teacher_card_form_text{
                        font-size: 14px;
                        color: #333;
                        width: 260px;
                        display: block;
                    }
                    .intro_teacher_card_form_title{
                        font-size: 20px;
                        color: #333333;
                        font-weight: 800;
                    }
                    .intro_teacher_card_form_type{
                        border-bottom: 1px solid #dadada;
                        padding-bottom: 20px;
                        color: #666;
                        button{
                            background: #fff;
                            border: 1px solid #999999;
                            width: 149px;
                            line-height: 38px;
                            margin-right: 10px;
                            
                        }
                        .active{
                            color: #f96c00;
                            border: 1px solid #f96c00;
                        }
                    }
                    .intro_teacher_card_form_select{
                        line-height: 38px;
                        color: #666;
                        button{
                            background: #fff;
                            border: 1px solid #999999;
                            width: 149px;
                            
                            margin-right: 10px;
                        }
                        .intro_teacher_card_form_select_input{
                            width: 149px;
                            
                            background: #fff;
                            border: 1px solid #e0e0e0;
                            color: #666666;
                            span{
                                margin-left: 20px;
                            }
                            select{
                                border: none;
                                box-shadow: none;
                                padding: 0;
                                width: 88px;
                                color: #666666;
                                font-size: 12px;
                                line-height: 38px;
                                margin-top: 2px;
                            }
                        }
                    }
                    .intro_teacher_card_form_allowed{
                        button{
                            width: 180px;
                            line-height: 48px;
                            color: #fff;
                            background: #f96d00;
                            border-radius: 2px;
                            border: none;
                            font-size: 18px;
                        }
                        .intro_teacher_card_form_allowed_l{
                            span{
                                font-size: 16px;
                                color: #999999;
                            }
                        }
                        .intro_teacher_card_form_allowed_r{
                            cursor: pointer;
                            margin-right: 35px;
                            img{
                                width: 28px;
                                margin-top: 12px;
                                margin-right: 12px;
                            }
                            span{
                                line-height: 50px;
                                font-size: 14px;
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .intro_content{
        margin-top: 210px;
        .intro_services_content{
            padding: 30px 35px;
            color: #666;
            font-size: 16px;
            .intro_services_content_list{
                margin-top: 10px;
                p{
                    margin-right: 18px;
                }
                ol{
                    li{
                        width: 570px;
                        margin-bottom: 20px;
                        p{
                            float: left;
                        }
                        span{
                            float: right;
                        }
                    }
                }
            }
            .intro_services_content_evaluate{
                position: relative;
                .intro_services_content_evaluate_tab_wrap{
                    .intro_services_content_evaluate_tab{
                        span{
                            margin-right: 60px;
                            cursor: pointer;
                            font-size: 14px;
                        }
                        .intro_services_content_evaluate_tab_all{
                            color: #fa6c00;
                        }
                        .intro_services_content_evaluate_tab_good{
                            color: #fa6c00;
                        }
                        .intro_services_content_evaluate_tab_bad{
                            color: #666;
                        }
                    }
                    .intro_services_content_evaluate_tabList{
                        margin-top: 30px;
                        width: 730px;
                        li{
                            height: 80px;
                            border-bottom: 1px dashed #dcdcdc;
                            .intro_services_content_evaluate_tabList_l{
                                margin-top: 18px;
                                img{
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    margin-right: 20px;
                                }
                                .intro_services_content_evaluate_tabList_con{
                                    margin-top: -5px;
                                    p{
                                        color: #333;
                                        margin-bottom: 10px;
                                    }
                                    span{
                                        color: #999;

                                    }
                                }
                            }
                            .intro_services_content_evaluate_tabList_r{
                                color: #fa6d03;
                                line-height: 80px;
                            }
                        }
                    }
                }
                .intro_services_content_evaluate_start{
                    position: absolute;
                    right: 50px;
                    top: 30px;
                    font-size: 14px;
                    .star_num{
                        text-align: center;
                        color: #fa6c00;
                    }
                    .population{
                        color: #666666;
                        span{
                            color: #fa6c00;
                        }
                    }
                    ul{
                        margin: 5px 0;
                        li{
                            float: left;
                            margin-right: 10px;
                            img{
                                width: 22px;
                            }
                        }
                    }
                }
            }
        }
        
    }
    
}

//招生信息
#recruit{
    .recruit_content{
        margin-top: 40px;
        .recruit_content_info{
            .recruit_content_info_con{
                padding: 30px 0;
                .recruit_content_info_con_l{
                    width: 50%;
                    border-bottom: 1px solid #666;
                    position: relative;
                    img{
                        width: 100%;
                        height: 320px;
                    }
                    .recruit_content_info_con_l_zhezhao{
                        position: absolute;
                        height: 48px;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        background: #000;
                        opacity: .6;
                    }
                    p{
                        position: absolute;
                        line-height: 48px;
                        width: 100%;
                        color: #fff;
                        text-align: center;
                        bottom: 0;
                        font-size: 14px;
                        left: 0;
                    }
                }
                .recruit_content_info_con_r{
                    border-top: 1px solid #dadada;
                    width: 599px;
                    height: 320px;
                    ul{
                        li{
                            float: left;
                            border-right: 1px solid #dadada;
                            border-bottom: 1px solid #dadada;
                            width: 273.5px;
                            height: 123px;
                            padding: 18px 0 18px 25px;
                            dl{
                                width: 256px;
                            }
                            dt{
                                line-height: 24px;
                                overflow: hidden;
                                font-size: 17px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                border-left: 2px solid #393e46;
                            }
                            dd{
                                margin-left: 20px;
                                font-size: 14px;
                                margin-top: 15px;
                                color: #333;
                                position:relative;
                                line-height: 24px;
                                /* 高度为需要显示的行数*行高，比如这里我们显示两行，则为3 */
                                height:72px;
                                overflow:hidden;
                            }
                            dd:after {
                                content:"...";
                                position:absolute;
                                bottom:0;
                                right:0;
                                padding: 0 8px;
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
        // 案例分享
        .recruit_shareit{
            .recruit_shareit_con{
                ul{
                    margin-bottom: 30px;
                    color: #333;
                    li{
                        margin-top:15px;
                        border-bottom: 2px solid #dadada;
                        .recruit_shareit_con_title{
                            font-size: 18px;
                            line-height: 48px;
                        }
                        .recruit_shareit_con_p{
                            font-size: 14px;
                            line-height: 25px;
                            width: 800px;
                        }
                        .recruit_shareit_con_bottom{
                            margin-top: 15px;
                            width: 334px;
                            img{
                                width: 100%;
                                height: 174px;
                            }
                            .recruit_shareit_con_bot_span{
                                line-height: 58px;
                                color: #666;
                                margin-bottom: 10px;
                            }
                        }

                    }
                }
                
            }
        }
        // 热门推荐
        .recruit_choices{
            .recruit_choices_con{
                ul{
                    margin: 15px 0 80px 0;
                    width: 700px;
                    li{
                        margin-top: 30px;
                        color: #333;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

//招生详情
#recruit_detail{
    .recruit_detail_head{
        .recruit_detail_head_title{
            h4{
                font-size: 14px;
                line-height: 50px;
                color: #666;
            }
            .recruit_detail_head_title_search{
                padding-bottom: 30px;
                border-bottom: 1px solid #dadada;
                .recruit_detail_head_title_search_l{
                    font-size: 28px;
                    color: #666666;
                    line-height: 54px;
                }
                .recruit_detail_head_title_search_r{
                    margin-left: 50px;
                    .form-control{
                        height: 54px;
                        width: 360px;
                    }
                    .input-group-btn{
                        button{
                            height: 54px;
                            padding: 0 12px;
                            width: 54px;
                            background: url('../img/search.png') no-repeat center;
                        }
                    }
                }
            }
        }
    }
    .recruit_rank{
        padding: 30px 0;
        border-bottom: 1px dashed #dadada;
        .recruit_rank_title{
            font-size: 14px;
            color: #333333;
            line-height: 32px;
        }
        ul{
            font-size: 12px;
            color: #666666;
            line-height: 32px;
            width: 1010px;
            li{
                width: 62px;
                text-align: center;
                float: left;
                margin-right: 10px;
                cursor: pointer;
            }
            .active{
                background: #393e46;
                color: #fff;
                border-radius: 3px;
            }
        }

    }
    .recruit_chapter{
        border-bottom: 1px solid #dadada;
        margin-bottom: 25px;
        li{
            border: 1px solid #dadada;
            border-radius: 3px;
        }
    }
    .recruit_list{
        margin-bottom: 45px;
        ul{
            li{
                border-bottom: 1px solid #dadada;
                line-height: 68px;
                i{
                    height: 16px;
                    width: 2px;
                    background: #c6c6c6;
                    display: block;
                    font-size: 14px;
                    margin: 25px 10px 0px 10px;
                }
                .recruit_list_l{
                    color: #333;

                }
                .recruit_list_r{
                    color: #666;
                    .recruit_list_img{
                        margin-top: 23px;
                        margin-right: 5px;
                    }
                    .recruit_list_span{
                        color: #f96d00;
                    }
                }
            }
        }
    }
}

//个人中心
#indiv_center{
    // 导航
    .users_nav{
        width: 240px;
        .user_nav_title{
            line-height: 100px;
            span{
                font-size: 20px;
                color: #666;
                cursor: pointer;
            }
            .user_nav_title_i{
                height: 20px;
                background: #dadada;
                width: 2px;
                margin: 40px 0 0 39px;
            }
            .active{
                color: #f96d00;
            }
        }
        .user_nav_con{
            ul{
                width: 240px;
                box-shadow: 0 0 13px #f8f8f8;
                border-top: 1px solid #dadada;
                li{
                    padding: 0 55px;
                    line-height: 65px;
                    border-bottom: 1px solid #dadada;
                    cursor: pointer;
                    span{
                        float: right;
                        font-size: 18px;
                    }
                    .user_nav_con_img{
                        float: left;
                        width: 38px;
                        margin-top: 15px;                        
                        img{
                            margin: 0 auto;
                            display: block;
                        }
                    }
                    
                }
                .active{
                    background: #5c636e;
                    color: #fff;
                }
            }
        }
    }
    .user_con{
        width: 910px;
        margin-top: 100px;
        //普通用户
        .general_user{
            ul{
                li{
                    display: none;
                    box-shadow: 0 0 15px #e7e7e7;
                }
                //普通个人信息
                .general_user_info{
                    background: #fff;
                    padding: 50px 0 50px 50px;
                    .general_user_info_head{
                        padding-bottom: 30px;
                        border-bottom: 1px solid #dadada;
                        img{
                            width: 105px;
                        }
                        .general_user_info_head_text{
                            margin: 20px 0 0 35px;
                            h4{
                                font-size: 21px;
                                color: #333333;
                                font-weight: 700;
                                margin-bottom: 20px;
                            }
                            span{
                                color: #666666;
                                font-size: 16px;
                                cursor: pointer;
                            }
                        }
                    }
                    .general_user_info_form{
                        margin-top: 25px;
                        li{
                            display: block;
                            box-shadow: none;
                            color: #666;
                            line-height: 40px;
                            float: left;
                            margin-top: 25px;
                            margin-right: 57px;
                            span{
                                font-size: 14px;
                            }
                            input{
                                line-height: 38px;
                                border: 1px solid #dadada;
                                padding: 0 15px;
                                width: 234px;
                            }
                        }
                    }
                    .general_user_info_button{
                        display: block;
                        width: 180px;
                        line-height: 48px;
                        background: #f96d00;
                        color: #fff;
                        font-size: 16px;
                        border: none;
                        border-radius: 3px;
                        margin: 50px 0 0 316px;
                    }
                }
                //普通个人认证
                .general_user_ertified{
                    padding-top: 25px;
                    .important{
                        background: url('../img/important.png') no-repeat 64px 12px;
                    }
                    .important_long{
                        background: url('../img/important.png') no-repeat 51px 12px;
                    }
                    .general_user_ertified_form{
                        li{
                            display: block;
                            box-shadow: none;
                            color: #666;
                            line-height: 40px;
                            float: left;
                            margin-top: 25px;
                            width: 378px;
                            text-align: right;
                            span{
                                font-size: 14px;
                            }
                            input{
                                line-height: 38px;
                                border: 1px solid #dadada;
                                padding: 0 15px;
                                width: 234px;
                            }
                            .form-control {
                                border: 1px solid #dadada;
                                box-shadow: none;
                                padding: 0 15px;
                                width: 234px;
                                color: #666666;
                                font-size: 14px;
                                line-height: 38px;
                                border-radius: 0;
                                height: 40px;
                            }
                        }
                        .general_user_ertified_form_getCode{
                            position: relative;
                            button{
                                display: block;
                                width:98px;
                                height:40px;
                                border: 1px solid #fb6d01;
                                color: #fb6d01;
                                background: #fff;
                                position: absolute;
                                right:-110px;
                                top:0;
                            }
                        }
                    }
                    .general_user_ertified_form2{
                        padding-left:   73px;
                        li{
                            display: block;
                            box-shadow: none;
                            color: #666;
                            line-height: 40px;
                            margin-top: 25px;
                            span{
                                font-size: 14px;
                            }
                            input{
                                line-height: 38px;
                                border: 1px solid #dadada;
                                padding: 0 15px;
                                width: 234px;
                                margin-left: 20px;
                            }
                            .form-control {
                                border: 1px solid #dadada;
                                box-shadow: none;
                                padding: 0 15px;
                                width: 234px;
                                color: #666666;
                                font-size: 14px;
                                line-height: 38px;
                                border-radius: 0;
                                height: 40px;
                            }
                            
                        }
                        .add_button_wrap{
                            font-size: 14px;
                            margin-top: 10px;
                            .add_button{
                                img{
                                    display: block;
                                    margin-top: 15px;
                                    margin-right: 10px;
                                }
                                button{
                                    border: none;
                                    background: #fff;
                                    display: block;
                                    color: #f96d00;
                                    font-size: 16px;
                                    line-height: 48px;
                                    margin-left:357px;
                                }
                            }
                        }
                    }
                    .general_user_ertified_form3{
                        padding: 20px 0 0 115px;
                        li{
                            display: block;
                            box-shadow: none;
                            color: #666; 
                            width: 330px;
                            text-align: center;
                            margin-right: 47px;
                            float: left;
                            font-size: 14px;
                            
                        }
                        .general_user_ertified_form3_wrap{ 
                            width: 328px;
                            border: 1px dashed #dadada;
                            text-align: center;
                            line-height: 178px;
                            color: #f96d00;
                            cursor: pointer;
                        }
                        span{
                            line-height: 70px;
                            
                        }
                    }
                    .general_user_ertified_btn{
                        border: none;
                        width: 180px;
                        line-height: 48px;
                        background: #f96d00;
                        color: #fff;
                        border-radius: 3px;
                        margin: 20px 0 50px 380px;                        
                    }
                }
            }
        }
        //精英客户
        .elite_users{
            ul{
                
                li{
                    display: none;
                    box-shadow: 0 0 15px #e7e7e7;
                }
                //精英客户个人信息
                .elite_users_info{
                    background: #fff;
                    padding: 50px 0 50px 50px;
                    .elite_users_info_head{
                        padding-bottom: 30px;
                        border-bottom: 1px solid #dadada;
                        img{
                            width: 105px;
                        }
                        .elite_users_info_head_text{
                            margin: 20px 0 0 35px;
                            h4{
                                font-size: 21px;
                                color: #333333;
                                font-weight: 700;
                                margin-bottom: 20px;
                            }
                            span{
                                color: #666666;
                                font-size: 16px;
                                cursor: pointer;
                            }
                        }
                    }
                    .elite_users_info_form{
                        margin-top: 25px;
                        li{
                            display: block;
                            box-shadow: none;
                            color: #666;
                            line-height: 40px;
                            float: left;
                            margin-top: 25px;
                            margin-right: 57px;
                            span{
                                font-size: 14px;
                            }
                            input{
                                line-height: 38px;
                                border: 1px solid #dadada;
                                padding: 0 15px;
                                width: 234px;
                            }
                        }
                    }
                    .elite_users_info_button{
                        display: block;
                        width: 180px;
                        line-height: 48px;
                        background: #f96d00;
                        color: #fff;
                        font-size: 16px;
                        border: none;
                        border-radius: 3px;
                        margin: 50px 0 0 316px;
                    }
                }
                //精英客户个人认证
                .elite_users_ertified{
                    padding-top: 25px;
                    .important{
                        background: url('../img/important.png') no-repeat 64px 12px;
                    }
                    .important_long{
                        background: url('../img/important.png') no-repeat 51px 12px;
                    }
                    .elite_users_ertified_form{
                        li{
                            display: block;
                            box-shadow: none;
                            color: #666;
                            line-height: 40px;
                            float: left;
                            margin-top: 25px;
                            width: 378px;
                            text-align: right;
                            span{
                                font-size: 14px;
                            }
                            input{
                                line-height: 38px;
                                border: 1px solid #dadada;
                                padding: 0 15px;
                                width: 234px;
                            }
                            .form-control {
                                border: 1px solid #dadada;
                                box-shadow: none;
                                padding: 0 15px;
                                width: 234px;
                                color: #666666;
                                font-size: 14px;
                                line-height: 38px;
                                border-radius: 0;
                                height: 40px;
                            }
                        }
                        .elite_users_ertified_form_getCode{
                            position: relative;
                            button{
                                display: block;
                                width:98px;
                                height:40px;
                                border: 1px solid #fb6d01;
                                color: #fb6d01;
                                background: #fff;
                                position: absolute;
                                right:-110px;
                                top:0;
                            }
                        }
                    }
                    .elite_users_ertified_form2{
                        padding-left:   73px;
                        li{
                            display: block;
                            box-shadow: none;
                            color: #666;
                            line-height: 40px;
                            margin-top: 25px;
                            span{
                                font-size: 14px;
                            }
                            input{
                                line-height: 38px;
                                border: 1px solid #dadada;
                                padding: 0 15px;
                                width: 234px;
                                margin-left: 20px;
                            }
                            .form-control {
                                border: 1px solid #dadada;
                                box-shadow: none;
                                padding: 0 15px;
                                width: 234px;
                                color: #666666;
                                font-size: 14px;
                                line-height: 38px;
                                border-radius: 0;
                                height: 40px;
                            }
                            
                        }
                        .add_button_wrap{
                            font-size: 14px;
                            margin-top: 10px;
                            .add_button{
                                img{
                                    display: block;
                                    margin-top: 15px;
                                    margin-right: 10px;
                                }
                                button{
                                    border: none;
                                    background: #fff;
                                    display: block;
                                    color: #f96d00;
                                    font-size: 16px;
                                    line-height: 48px;
                                    margin-left:357px;
                                }
                            }
                        }
                    }
                    .elite_users_ertified_form3{
                        padding: 20px 0 0 115px;
                        li{
                            display: block;
                            box-shadow: none;
                            color: #666; 
                            width: 330px;
                            text-align: center;
                            margin-right: 47px;
                            float: left;
                            font-size: 14px;
                            
                        }
                        .elite_users_ertified_form3_lastLi{
                            margin-left: 191px;
                        }
                        .elite_users_ertified_form3_wrap{ 
                            width: 328px;
                            border: 1px dashed #dadada;
                            text-align: center;
                            line-height: 178px;
                            color: #f96d00;
                            cursor: pointer;
                        }
                        span{
                            line-height: 70px;
                            
                        }
                    }
                    .elite_users_ertified_btn{
                        border: none;
                        width: 180px;
                        line-height: 48px;
                        background: #f96d00;
                        color: #fff;
                        border-radius: 3px;
                        margin: 20px 0 50px 380px;                        
                    }
                }
            }
        }
        // 双方公共
        .public_release{
            padding: 29px 0 0 48px;
        }
    }
    
}