@charset "utf-8";
//头
#header{
    height:48px;
    width:100%;
    background: #404040;
    color: #fff;
    .content{
        line-height: 48px;
        a{
            color: #fff;
        }
        img{
            display: block;
        }
        .tel{
            margin-left:80px;
            img{
                width:26px;
                margin-top:10px;
            }
        }
        .mail{
            margin-left:80px;
            img{
                width:28px;
                margin-top:15px;
            }
        }
        .loginAndRegister{
            img{
                margin-top:16px;
            }
        }
    }
}
//页脚
#footer{
    height:266px;
    width:100%;
    background: #404040;
    color: #fff;
    .content{   
        ul{
            padding: 40px 0 0 130px;
            li{
                float: left;
                margin-left:110px;
                a{
                    color: #fff;
                    font-size: 18px;
                }
            }
            li:first-child{
                margin-left:0;
            }
        }
        .content_bottom{
            padding: 0 0 0 130px;
            .content_bottom_l{
                margin-top:50px;
                h5{
                    font-size: 20px;
                    
                }
                span{
                    display: block;
                    margin-top:30px;
                    font-size: 16px;
                }
            }
            .content_bottom_c{
                margin-top:50px;
                margin-right:80px;
                h5{
                    font-size: 20px;
                    
                }
                span{
                    display: block;
                    margin-top:30px;
                    font-size: 16px;
                }
                i{
                    display: block;
                    font-size: 16px;
                }
            }
            img{
                display: block;
                margin:25px 60px 0 0;
            }
        }
    }
}
//公告导航
.title_nav{
    padding: 35px 0;
    .title_nav_l{
        img{
            width:47px;
        }
        .title_nav_text{
            span{
                font-size: 28px;
                font-weight:300;
                line-height: 46px;
            }
            i{
                font-size: 18px;
                line-height: 46px;
                font-weight:300;
            }
        }
    }
    .title_nav_r{
        font-size: 15px;
        line-height: 50px;
        
        li{
            float: left;
            margin-right:45px;
            cursor: pointer;
            a{
                font-weight: 600;
                color: #666666;
            }
        }
        .active{
            a{
                color: #f96d00;
            }
            
        }
    }
}

// 注册/登陆页面
#register{
    .content{
        padding: 100px 0 150px 0 ;
        .content_logo{
            margin-top:300px;
            img{
                display: block;
                width:110px;
            }
            .content_logo_title{
                margin-left:30px;
                color: #333;
                span{
                    font-size: 42px;
                    font-weight:300;
                    line-height: 110px;
                }
                i{
                    font-size: 24px;
                    line-height: 110px;
                    font-weight:300;
                }
            }
        }
        //注册页面输入框
        .content_input{
            width: 437px;
            height:622px;
            -moz-box-shadow:0 0 15px #e7e7e7;
            -webkit-box-shadow:0 0 15px #e7e7e7;
            box-shadow:0 0 15px #e7e7e7;
            padding: 45px;
            border-radius: 8px ;
            -moz-border-radius:8px;  
            -ms-border-radius:8px;
            -o-border-radius:8px;
            h6{
                font-size: 24px;
                color: #fb6d01;
                text-align: center;
                cursor: pointer;
            }
            em{
                display: block;
                height:2px;
                width:100%;
                background: #fb6d01;
                position: relative;
                img{
                    position: absolute;
                    left: 47.5%;
                    top:-15px;
                }
            }
            .content_input_list{
                margin-top:25px;
                .content_input_list_li{
                    margin:20px 15px 0 15px; 
                    padding: 22px 0;
                    border-bottom: 1px solid #dadada;
                    position: relative;
                    .form-control{
                        width: 100%;
                        border:none;
                        outline:none !important;
                        box-shadow: none;
                    }
                    .btn{
                        border:none;
                        position: relative;
                        margin-right:15px;
                        font-size: 16px;
                        font-weight: 600;
                        .caret{
                            border:none;
                            display: block;
                            background: url("../img/pulldown.png") no-repeat center;
                            background-size: 16px 9px;
                            width:16px;
                            height:15px;
                            position: absolute;
                            right:-10px;
                            top:10px;
                        }
                    }
                    img{
                        display: block;
                        position: absolute;
                        right:0;
                        top:15px;
                    }
                    .getCode{
                        display: block;
                        width:98px;
                        height:38px;
                        border: 1px solid #fb6d01;
                        color: #fb6d01;
                        background: #fff;
                        position: absolute;
                        right:0;
                        top:15px;
                    }
                }
                .btn_register{
                    display: block;
                    margin-left:15px;
                    width:407px;
                    background: #fb6d01;
                    border: none;
                    color: #fff;
                    line-height: 56px;
                    font-size: 22px;
                    margin-top:40px;
                    border-radius: 4px ;
                    -moz-border-radius:4px;  
                    -ms-border-radius:4px;
                    -o-border-radius:4px;
                }
            }
            
        }
        // 登陆页面输入框
        .login_content{
            h6{
                width: 50%;
                color: #333333;
            }
            .line{
                display: block;
                height:2px;
                width:100%;
                background: #dadada;
                position: relative;
                img{
                    position: absolute;
                    left:0px;
                    top:-15px;
                }
            }
            .active{
                color: #fb6d01;
            }
            .line_active{
                display: block;
                height:2px;
                width:100%;
                background: #dadada;
                position: relative;
                img{
                    position: absolute;
                    right:0px;
                    top:-15px;
                }
            }
            .content_input_list{
                .btn_register{
                    margin-top:120px;
                }
                .forget{
                    margin-left:15px;
                    width:407px;
                    font-size: 15px;
                    font-weight:500;
                    .forget_l{
                        color: #fb6d01;
                        border: none;
                        background: #fff;
                        display: block;
                    }
                    .forget_r{
                        color: #999999;
                    }
                }
                .line_else{
                    display: block;
                    height:1px;
                    margin-left:15px;
                    margin-top:45px;
                    width:407px;
                    background: #999999;
                    color: #999;
                    position: relative;
                    span{
                        position: absolute;
                        text-align: center;
                        left:25%;
                        top:-10px;
                        width:200px;
                        background: #fff;
                        font-size: 16px;
                    }
                }
                .else_logo{
                    margin-top:40px;
                    padding: 0 30px;
                    .else_logo_c{
                        margin:0 99px;
                    }
                }
                
            }
            .login_content_input_list{
                .btn_register{
                    margin-top:21px;
                }
            }
            
        }
    }
}


//首页
#home_page{
    .banner_wrap{
        height:600px;
        min-width:1200px;
        background: url('../img/banner.png') no-repeat top;
        background-size: cover;
        padding-top: 145px;
        color: #fff;
        .banner{
            position: relative;
            text-align: right;
            .banner_text{
                position: absolute;
                right: 0;
                h1{
                    font-size: 84px;
                    font-family:  'Sing YiEG Ultra GB';
                    font-weight: 800;
                }
                .banner_text_p{
                    font-size: 22px;
                    font-family:  'BodoniBT Bold';
                    font-weight: 600;
                }
                .banner_case{
                    margin-top: 75px;
                    height:60px;
                    display: block;
                    width:410px;
                    border: 2px solid #fff;
                    border-radius: 10px;
                    position: relative;
                    .banner_case_sky{
                        font-size: 41px;
                        line-height: 60px;
                        position: absolute;
                        left:30px;
                    }
                    .banner_case_white{
                        font-size: 26px;
                        color: #f96d00;
                        display: block;
                        width: 195px;
                        height: 60px;
                        position: absolute;
                        right: 0;
                        background: #fff;
                        border-radius: 7px;
                        line-height: 60px;
                        text-align: center;
                    }
                }
                .banner_text_p2{
                    font-size: 22px;
                    span{
                        color: #f96d00;
                    }
                }
            }
            
        }
        
    }
    .skill_wrap{
        padding-top: 70px;
        color: #333333;
        h2{
            text-align: center;
            font-size: 30px;
        }
        .skill_tabs_tag{
            margin-top: 48px;
            background: url('../img/dian.png') repeat-x bottom;
            li{
                float: left;
                font-size: 16px;
                color: #999999;
                line-height: 45px;
                padding:  0 10px;
                cursor: pointer;
                margin-right: 39px;
            }
            .active{
                background: url('../img/dian2.png') repeat-x top;
                border-right: 1px solid #dadada;
                border-left:1px solid #dadada;
                border-bottom: 1px solid #fff;
                color: #333333;
            }
            
        }
        .skill_tabs_guide{
            margin-top:45px;
            li{
                float: left;
                margin-right: 29px;
                img{
                    width:278px;
                    height:278px;
                    display: block;
                }
            }
            li:last-child{
                margin-right: 0;
            }
        }
    }
    .view_more{
        margin-top: 70px; 
        height: 600px;
        min-width: 1200px;
        background: url('../img/view_more.png') no-repeat top;
        
        .view_more_pos{
            position: relative;
            height: 600px;
            button{
                border: none;
                background: #ffbc65;
                width: 285px;
                line-height: 48px;
                font-size: 22px;
                color: #fff;
                display: block;
                border-radius:48px;
                -moz-border-radius:48px; /* Old Firefox */
                position: absolute;
                right: 220px;
                bottom: 70px;
                box-shadow: 0px 7px 15px #c7c5c1;
            }
        }
        
    }
    .advantage{
        padding-top: 70px;
        color: #333333;
        h2{
            text-align: center;
            font-size: 30px;
        }
        .advantage_subhead{
            margin-top: 25px;
            font-size: 20px;
            color: #666;
            text-align: center;
        }
        ul{
            margin-top: 10px;
            li{
                margin-top: 30px;
                margin-right: 30px;
                float: left;
                position: relative;
                img{
                    width: 380px;
                    height: 275px;
                }
                span{
                    position: absolute;
                    left: 70px;
                    top: 110px;
                    width: 240px;
                    line-height: 48px;
                    background: #000;
                    color: #fff;
                    text-align: center;
                    font-size: 18px;
                    opacity: .5;
                }
            }
            li:nth-child(3n+3){
                margin-right: 0;
            }
        }
    }
    .pocket{
        margin-top: 60px;
        h2{
            text-align: center;
            font-size: 30px;
        }
        .pocket_subhead{
            margin-top: 25px;
            font-size: 20px;
            color: #666;
            text-align: center;
        }
        .pocket_content{
            margin-top: 35px;
            .pocket_content_l{
                width: 545px;
                height: 370px;
            }
        }
        .pocket_content_r{
            position: relative;
            ul{
                margin-left: 105px;
                li{
                    margin-top: 35px;
                   .pocket_content_r_img{
                       margin-left: 7px;
                   }
                    .pocket_content_r_img1{
                        width: 58px;
                        height: 45px;
                        margin-right: 20px;
                        
                    }
                    .pocket_content_r_img2{
                        width: 42px;
                        height: 50px;
                        margin-right: 20px;
                    }
                    .pocket_content_r_img3{
                        width: 45px;
                        height: 50px;
                        margin-right: 20px;
                    }
                    h5{
                        font-size: 20px;
                        color: #333333;
                    }
                    p{
                        color: #666;
                        font-size: 18px;
                    }
                }
            }
            button{
                
                border: none;
                background: #ffbc65;
                width: 285px;
                line-height: 48px;
                font-size: 22px;
                color: #fff;
                display: block;
                border-radius: 48px;
                -moz-border-radius: 48px;
                position: absolute;
                right: 35px;
                bottom: -100px;
                box-shadow: 0px 7px 15px #c7c5c1;
            }
        }
    }
}